html, body {
    background: url("{% static 'images/SEGMI_av2022.jpeg' %}") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    margin: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.quota-info {
    color: white;
    margin-right: 20px;
}

.navbar {
    background-color: #007bff;
}

.navbar .dropdown-menu {
    right: 0;
    left: auto;
}

.criteria-bar {
    background: white;
    border-radius: 8px;
    padding: 10px 15px;
}

.salles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.salle {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.salle img {
    max-width: 100%;
    border-radius: 8px;
}

.salle h2 {
    margin-top: 10px;
}

.salle p {
    margin: 10px 0;
}

.salle a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.salle a:hover {
    background-color: #0056b3;
}